


.card{    
    background-color: yellowgreen;
    display: flex;
    border: 2px solid;
    border-radius: 4px;    
    flex-direction: column;    
    box-shadow: 0px 0px 30px #000;
    
    
}

.card > img {
    
    width: 100%;
    height: auto;
    
}


